html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(149, 228, 248);
    /*background: linear-gradient(to bottom, #38a3d1  0%, #a5e3fc 100%);*/

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

@font-face {
    font-family: edcarz;
    src: url(font/Eczar[wght].ttf);
}

.plane {
    width: 5rem;
    /*margin-top: 5%;*/
    margin-left: -10rem;
    align-self: flex-start;
}

h1 {
    color: white;
    font-weight: bold;
    font-family: edcarz;
}

/*
.grass {
    height: 2rem;
    width: 100%;
    margin-top: -1.9rem;
    background-image: url("images/grass_draw.png");
    background-repeat: repeat-x;
    background-size: 3rem 2rem;
    z-index: 1;
    position: relative;
}*/

.ground {
    background-color: #535353;
    width: 100%;
    height: 5%;
    margin-top: auto;
}

.skydiver {
    /*background-color: blue;*/
    width: 2rem;
    height: 2rem;
}

.container {
    background-color: aqua;
}